/* ------------- Clases propias del estilo de la página --------------- */

.blog-body {
    background: #dddddd;
}

.navbar {
    background: rgb(46, 3, 114);
}

.navbar-text {
    font-size: 1.5rem;
}

.img-logo {
    max-width: 5rem;
}

.rsociales {
    font-size: 1rem;
}

a.bg-primary {
    background: darkslateblue !important;
}

.border-bottom {
    border-bottom: 1px solid rgb(46, 3, 114) !important;
}

a.bg-primary:hover {
    background: white !important;
}

.text-primary {
    color: white !important;
}

a.text-primary:hover {
    color: darkslateblue !important;
    font-weight: 500;
}

.card-text {
    font-size: 1rem;
}


/* ************************************************* */

.container {
    max-width: 96%;
    margin-top: 24px;
}

.input-element {
    width: 100%;
    height: 28px;
    padding: 10px;
    color: white;
    background: rgba(65, 105, 225, 0.65);
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

.input-element::placeholder {
    color: orange;
}

.label-class {
    color: white;
    font-size: 13px;
    margin-right: 10px;
}

.custom-checkbox,
.custom-radio {
    margin: 0px 5px;
    height: 10px;
}

.btn-save {
    width: 40%;
    background: rgba(65, 105, 225, 0.95);
    color: white;
    font-weight: bolder;
}


/* --- Estilo para pantallas pequeñas */

@media (max-width: 400px) {
    .fa-2x {
        font-size: 1.25em !important;
    }
}

@media (max-width: 578px) {
    .img-logo {
        max-width: 3rem;
    }
    .navbar {
        height: 8%;
    }
    .navbar-text {
        font-size: 1rem !important;
    }
}